@import "tailwindcss";
/* @import "@fontsource/ubuntu"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: MiSans-Regular, Barlow, sans-serif;
}

header {
  font-weight: bold;
}

.modal-overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}

@layer base {
  .course-article h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .course-article h2,
  .course-article h3,
  .course-article h4 {
    font-size: 20px;
  }
  .course-article p{
    margin-inline: 4px;
  }
}
